body {
    font-family: 'Courier New', Courier, monospace;
    font-size:medium;
}
input [type=text] {
    width: 100%;
    margin: 8px 0; 
    border: 3px rgb(9, 9, 222);
    border-radius: 100px;
}
